ul li a {
  color: #000;
  text-decoration: none;
}


ul li a:hover {
  color: #00a8ff;
}

ul li a.active {
  color: #00a8ff;
}

.app-header {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: row;
}

.app-header li{
  float: left;
  padding: 10px;
  list-style-type: none
}

.post-item {
  background-color: #f0f0f0;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 15px;
  display: inline-block;
  max-width: 30%;
  margin-right: 10px;
  height: auto;
}